@use '../base/typography';

.navbar{
    position: fixed;
    height: 85.5%;
    bottom: 0;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    display: flex;
    color: var(--font-color);
    flex-direction: column;
    padding-inline-start: 1em;
    color: var (--font-color);
    padding-top: 1em;
    border-radius: 0.3em;
    transition: 0.7s;
    justify-content: space-between;
    text-align: start;
    transform: translateX(-100%);
    font-size: var(--font-size-secondary);
    @extend .text-bold;
    &.open-navbar{
    transform: translateX(0); 
}
}
.nav-list{
    display: flex;
    align-items: center;
    margin-inline-end: 1em;
    cursor: pointer;
}

.nav-list:hover{
    color :var(--link-hover-color);
    border-radius: 0.05em solid rgba(0, 0, 0, 0.461);
    @extend .text-underline-wavy;
}
