@use '../base/typography';

.navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-block-start: var(--header-gap);
    padding-inline-start: 1em;
    background-color: var(--primary-color);
    color: var(--font-color);
    height: 86%;
    min-width: 5.5em;
    padding-top: 1em;
    border-radius: var(--border-radius);
    border: 0.05em rgba(0, 0, 0, 0.648) solid;
    transition: 0.5s;
    left:-13em;
    justify-content: space-between;
    text-align: start;
    font-size: var(--font-size-secondary);
    @extend .text-bold;

    &.open-navbar{
    left:0;
}
}
.nav-list{
    display: flex;
    align-items: center;
    margin-inline-end: 1em;
    cursor: pointer;
}

.nav-list:hover{
    color :var(--link-hover-color);
    border-radius: 0.05em solid rgba(0, 0, 0, 0.461);
    @extend .text-underline-wavy;
}
