:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(189, 189, 189);
    --primary-gradient: linear-gradient(139deg,rgb(174, 209, 232) 0%, rgb(76, 169, 255) 100%);
    --secondary-gradient: linear-gradient(41deg,rgb(201, 233, 255) 0%, rgb(255, 255, 255) 100%);
    --font-size-primary: 1.3em;
    --font-size-secondary: 1.1em;
    --font-color: rgb(1, 32, 61);
    --btn-color: #01004bef;
    --btn-color-hover: rgb(133, 219, 250);
    --link-hover-color:aliceblue;
    --main-gradient-color:linear-gradient(180deg,rgb(136, 177, 204),rgb(139, 139, 216));
    --border-radius:0.3em;
    --header-gap:2.95em;
}

