:root{
    --primary-color: rgb(136, 177, 204);
    --font-size-primary: 1.3em;
    --font-size-secondary: 1.1em;
    --font-color: rgb(1, 32, 61);
    --btn-color: #01004bef;
    --btn-color-hover: rgb(133, 219, 250);
    --link-hover-color:aliceblue;
    --main-gradient-color:linear-gradient(180deg,rgb(136, 177, 204),rgb(139, 139, 216));
    --border-radius:0.3em;
    --header-gap:2.95em;
}